<style>
  {% if use_theme_colors == true %}
    .who-qof-wrapper{--text-color:{{ settings.colors_text }};--text-color-rgb:{{ settings.colors_text | color_extract: 'red' }},{{ settings.colors_text | color_extract: 'green' }},{{ settings.colors_text | color_extract: 'blue' }};--background-color-1:{{ settings.colors_background_1 }};--background-color-2:{{ settings.colors_background_2 }};--accent-1:{{ settings.colors_accent_1 }};--accent-2:{{ settings.colors_accent_2 }};}
    {% else %}
    .who-qof-wrapper{--text-color:#3a3a3a;--text-color-rgb:58,58,58;--background-color-1:#fff;--background-color-2:grey;--accent-1:#2c6ecb;--accent-2:#24249a;}
    {% endif %}
</style>

{{ 'updated-quickadd.css' | asset_url | stylesheet_tag }}

{% comment %} Wholesale_Club_Product_Visibility_Resource_Page Start {% endcomment %}
{%- capture hide_resource -%}{% render "wc_product_visibility" %}{%- endcapture -%}
{%- if hide_resource == 'true' -%}
  {% render 'wc_page_replacement' %}
{%- else -%}
  <!-- /templates/collection.liquid -->
  {% assign use_theme_colors = false %}
  {% if settings.colors_text
    and settings.colors_background_1
    and settings.colors_background_2
    and settings.colors_accent_1
    and settings.colors_accent_2
  %}
    {% assign use_theme_colors = true %}
  {% endif %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  <div id="collection" class="rte wrapper main content main-wrapper page-width">
    <div style="max-width: 1100px; margin: auto;">
      {% paginate collection.products by 100 %}
        {% if collection.products_count > 0 %}
          <div class="action-bar top">
            <h1>
              {% if template contains 'page' %}{{ page.title }}{% else %}{{ collection.title }}{% endif %}
            </h1>
            <button
              class="add-to-cart-order-form button button--primary btn btn-primary btn-lg btn_c action-button action_button submit solid cart-checkout-button ProductForm__AddToCart Button Button--primary"
              type="submit"
            >
              Add to Cart
            </button>
          </div>
        {% else %}
          <h1>
            {% if template contains 'page' %}{{ page.title }}{% else %}{{ collection.title }}{% endif %}
          </h1>
        {% endif %}

        {% if template contains 'page' and page.content.size > 0 %}
          <div class="rte">
            {{ page.content }}
          </div>
        {% elsif collection.description.size > 0 %}
          <div class="rte">
            {{ collection.description }}
          </div>
        {% endif %}

        <div id="collection-filters-container" class="cf-select-wrapper"></div>
        {% if collection.products_count > 0 %}
          <div class="who-qof-wrapper">
            <div class="who-qof-scroll">
              <div class="who-qof-table who-qof-table--div">
                <div class="who-qof-table__head">
                  <div class="who-qof-table__row who-qof-table__row--head">
                    <div class="who-qof-table__cell" style="flex: 2;">Prodotto</div>
                    <div class="who-qof-table__cell">SKU</div>
                    <div class="who-qof-table__cell price-header">Prezzo</div>
                    <div class="who-qof-table__cell" style="text-align: right;">Quantità</div>
                  </div>
                </div>
                <div class="who-qof-table__body">
                  {% for product in collection.products %}
                    <div class="who-qof-table__item">
                      {%- capture hide_resource -%}{% render "wc_product_visibility", resource: product %}{%- endcapture -%}
                      {%- if hide_resource == 'true' -%}{% continue %}{%- endif -%}
                      {% unless product.type == 'Gift Card' %}
                        {% assign base_variant = product.selected_or_first_available_variant %}
                        {% assign saw_discount = 0 %}
                        {% assign saw_has_discount = false %}

                        {% if customer.tags != blank %}
                          {% for mf in product.metafields.sawholesale %}
                            {% capture product_customer_tag %}{{ mf | first | replace: 'discount_', '' }}{% endcapture %}
                            {% if customer.tags contains product_customer_tag %}
                              {% assign saw_has_discount = true %}
                              {% assign discount_key = product_customer_tag | prepend: 'discount_' %}
                              {% assign price_key = product_customer_tag | prepend: 'price_' %}
                              {% assign saw_discount = product.metafields.sawholesale[discount_key]
                                | divided_by: 100.0
                              %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}

                        {% assign saw_discount = 1 | minus: saw_discount %}

                        {% if base_variant.compare_at_price == blank
                          or base_variant.compare_at_price == 0
                          or base_variant.compare_at_price < base_variant.price
                        %}
                          {% assign saw_product_compare_at_price = base_variant.price %}
                        {% else %}
                          {% assign saw_product_compare_at_price = base_variant.compare_at_price %}
                        {% endif %}

                        {% assign cpe = shop.metafields.sawholesale.cpe | default: 'true' %}
                        {% if base_variant.metafields.sawholesale[price_key] != blank and cpe == 'true' %}
                          {% assign saw_product_price = base_variant.metafields.sawholesale[price_key] %}
                        {% else %}
                          {% assign saw_product_price = saw_product_compare_at_price | times: saw_discount %}
                        {% endif %}

                        {% if product.available %}
                          {% if product.variants.size > 1 %}
                            {% assign product_featured_image = product.featured_image %}

                            <div class="who-qof-table__row">
                              <div class="who-qof-table__cell" style="flex: 2;">
                                <div class=" who-qof-table__img">
                                  <a href="{{ product.url | collection }}">
                                    <img
                                      src="{{ product_featured_image | img_url: 'small' }}"
                                      alt="{{ product_featured_image.alt | escape }}"
                                    >
                                  </a>
                                </div>
                                <div
                                  class="who-qof-table__title"
                                >
                                  <a href="{{ product.url | collection }}">{{ product.title }}</a><br>
                                  {% for tag in product.tags %}
                                    {% if tag contains 'Minimum' or tag contains 'units' %}
                                      <b>{{ tag }}</b>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                              <div class="who-qof-table__cell qo-sku"></div>
                              <div class="who-qof-table__cell" style="text-align: right;">
                                {% unless customer.tags.size > 0 -%}
                                  {%- if product.price_varies %}from {% endif -%}
                                {%- endunless %}
                                {% if saw_has_discount == false or saw_product_price >= saw_product_compare_at_price %}
                                  {{ product.price | money }}
                                {% else %}
                                  {{ saw_product_price | money }}
                                  {% unless customer.tags.size > 0 -%}
                                    <del>{{ saw_product_compare_at_price | money }}</del>
                                  {%- endunless %}
                                {% endif %}
                              </div>
                              <div class="who-qof-table__cell" style="text-align: center;">
                                <a href="#" class="show-variants" data-product-id="{{ product.id }}"
                                  >variants<span class="who-disc"></span
                                ></a>
                              </div>
                            </div>
                          {% endif %}

                          {% render 'var-table', product: product %}
                          <div class="mobile-layout large-up-hide">
                            {% render 'mobile-layout', product: product %}
                          </div>
                          <script>
                            if (typeof sawholesale_product_variants_json == "function") {
                              let p = sawholesale_product_variants_json({{ product | json }});
                              p.variants.map(function(v) {
                                jQuery(".row-variant-id" + v.id).removeClass("v-hidden")
                              });
                            } else {
                              jQuery(".who-qof-table__row").removeClass("v-hidden")
                            }
                          </script>
                        {% endif %}
                      {% endunless %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="action-bar">
            <button
              class="add-to-cart-order-form button button--primary btn btn-primary btn-lg btn_c action-button action_button submit solid cart-checkout-button cart__checkout ProductForm__AddToCart Button Button--primary"
              type="submit"
            >
              Add to cart
            </button>
          </div>
        {% else %}
          <p>There are no products in this view.</p>
        {% endif %}
        <div id="pagination">
          {% if paginate.previous %}
            {{ 'Previous page' | link_to: paginate.previous.url }}
          {% endif %}

          {% if paginate.next %}
            {{ 'Next page' | link_to: paginate.next.url }}
          {% endif %}
        </div>
      {% endpaginate %}
      {% if collection.products_count > 0 %}
        <script>
          ShopifyQO = {};
          ShopifyQO.itemsToAdd = [];
          ShopifyQO.addItemstoTheCart = function() {
            if (ShopifyQO.itemsToAdd.length) {
              let item = ShopifyQO.itemsToAdd.pop();
              $.ajax({
                url: "/cart/add",
                dataType: "json",
                type: "post",
                data: item,
                success: ShopifyQO.addItemstoTheCart,
                error: ShopifyQO.addItemstoTheCart
              });
            } else {
              $(".quantity__input").val("0");
              // Added to Cart
              window.location.href = "/cart";
            }
          };
          jQuery(function($) {
            $("table .quantity__input:first").focus();
            $("[max]").change(function() {
              let max = parseInt($(this).attr("max"), 10);
              let value = parseInt($(this).val(), 10) || 0;
              if (value > max) {
                alert("We only have " + max + " of this item in stock");
                $(this).val(max);
              }
            });

            {% comment %}
            quantity polyfill for legacy themes
            {% endcomment %}
            {% if use_theme_colors == false %}
            $(".quantity__button[name='plus']").click(function() {
              $(this).siblings(".quantity__input").get(0).stepUp();
            });
            $(".quantity__button[name='minus']").click(function() {
              $(this).siblings(".quantity__input").get(0).stepDown();
            });
            {% endif %}


            $(".dd-variant-to-cart").click(function() {
              let variant_id = $(this).attr("data-variant-id");
              let quantity = $(".quantity__input[data-id='" + variant_id + "']").val();

              $.ajax({
                url: "/cart/add.js",
                dataType: "json",
                type: "post",
                data: {
                  id: variant_id,
                  quantity: quantity
                },
                success: function() {
                  alert(quantity + " items added to cart");
                }
              });

            });

            $(".add-to-cart-order-form").click(function(ev) {
              ev.preventDefault();
              $(".add-to-cart-order-form").addClass("disabled").attr("disabled", "disabled");
              // Resetting.
              ShopifyQO.itemsToAdd = [];
              $(".quantity__input").each(function() {
                let quantity = parseInt($(this).val(), 10);
                if (quantity && $(this).attr("data-id")) {
                  ShopifyQO.itemsToAdd.push({ id: $(this).attr("data-id"), quantity: quantity });
                }
              });
              if (ShopifyQO.itemsToAdd.length) {
                ShopifyQO.addItemstoTheCart();
              } else {
                alert("All quantities are set to zero.");
                $(".add-to-cart-order-form").removeAttr("disabled").removeClass("disabled");
              }
            });

            jQuery("body").on("click", ".show-variants", function(ev) {
              ev.preventDefault();
              let product_id = $(this).data("product-id");
              $(".variants-product-id" + product_id).removeClass("p-hidden");
              $(this).removeClass("show-variants").addClass("hide-variants");
            });
            jQuery("body").on("click", ".hide-variants", function(ev) {
              ev.preventDefault();
              let product_id = $(this).data("product-id");
              $(".variants-product-id" + product_id).addClass("p-hidden");
              $(this).removeClass("hide-variants").addClass("show-variants");
            });
          });
        </script>
      {% endif %}
    </div>
  </div>
{% endif %}
